<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href ='/css/styles.css'>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main-content">
                {{>header}}
                <p>This app fetch data from API of mapbox.com and darksky.net.</p>
        </div>
        
        {{>footer}}
    </body>
</html>