<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet' href ='/css/styles.css'>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container main-content">
            {{>header}}
            <p>A site to get weather of any location</p>
            <form action="">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
       {{>footer}}

        <script src='/js/app.js'></script>
    </body>
</html>